@import "./normalize.css";
@import "./assets/fonts/stylesheet.css";

/* common styles start */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
}

:root {
  --main-green-color: #446354;
  --main-bg-color: #ebeded;
  --secondary-green-color: #438b68;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.show__more--btn-wrapper {
  width: 100%;
  text-align: center;
}

.show__more--btn {
  font-size: 16px;
  line-height: 120%;
  font-weight: 600;
  background-color: var(--main-green-color);
  border-radius: 43px;
  padding: 16px 40px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease;
}

.show__more--btn:hover {
  background-color: var(--secondary-green-color);
}

/* common styles end */

/* header style start */
header {
  background-color: var(--main-bg-color);
  padding: 24px 0;
}

header button {
  background-color: var(--main-green-color);
  color: #fff;
  border: none;
  outline: none;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.search-lang-login {
  width: 70%;
  align-items: center;
  justify-content: space-between;
}

.search {
  position: relative;
  width: 55%;
  align-items: center;
  display: flex;
}

.search img {
  position: absolute;
  top: 12px;
  left: 18.5px;
}

.search input {
  background-color: transparent;
  padding: 12px 0 12px 44px;
  border: 1px solid #cacaca;
  border-radius: 10px 0px 0px 10px;
  outline: none;
  font-size: 16px;
  width: 80%;
  height: 45px;
}

.search input::placeholder {
  color: #808080;
}

.search button {
  margin-left: -5px;
  padding: 14px 24px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  line-height: 17px;
  font-size: 14px;
  font-weight: 600;
  height: 45px;
}

.search-icon {
  display: none;
}

.languages {
  display: flex;
  gap: 7px;
}

.languages .lang {
  border: 1px solid #cacaca;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  cursor: pointer;
}

.languages .lang.active {
  background-color: var(--main-green-color);
  color: #fff;
  border: 1px solid transparent;
}

.login {
  padding: 14px 30px;
  background-color: var(--main-green-color);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  cursor: pointer;
}

.login:hover {
  background-color: var(--secondary-green-color);
}

.login img {
  margin-right: 9.5px;
}

/* header style end */

/* nav section start */
nav {
  background-color: var(--main-green-color);
  padding: 16px 0;
}

nav a {
  color: #fff;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__close,
.nav__toggle {
  cursor: pointer;
  display: none;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav-list {
  display: flex;
  gap: 32px;
  padding: 0;
}

.nav-item {
  transition: border-bottom 1s ease;
}


.nav-link {
  line-height: 21px;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-item:hover .nav-link,
.nav-item.active .nav-link {
  color: #acacac;
}

.phone {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.phone .call-number {
  line-height: 21px;
  font-size: 14px;
  font-weight: 500;
}

.phone:hover .call-number {
  color: #ccc;
}

/* nav section end */

/* hero section start */
.carousel {
  background: url("./assets/images/banner.png");
  height: 386px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 47px 0 97px 0;
}

.carousel h1 {
  font-size: 46px;
  line-height: 120%;
  font-weight: 600;
  margin-bottom: 30px;
}

.carousel p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 27px;
}

.carousel button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 34px;
  border-radius: 53px;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}

.carousel button:hover {
  background-color: #ccc;
}

/* hero section end */

/* categories section start */
.categories {
  position: relative;
  background-color: var(--main-bg-color);
  padding-bottom: 50px;
}

.categories__wrapper {
  display: flex;
  gap: 42px;
  flex-wrap: wrap;
}

.categories__box {
  background-color: #fff;
  width: 412px;
  padding: 20px 16px;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  top: -50px;
  position: relative;
  z-index: 2;
}

.categories__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.box__title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.categories__item {
  cursor: pointer;
}

.categories__item img {
  width: 180px;
}

.categories__item h3 {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  margin-top: 10px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.4s ease;
}

.categories__item:hover h3 {
  border-bottom: 2px solid var(--secondary-green-color);
}

.show__more {
  color: var(--main-green-color);
  display: block;
  text-align: center;
  transition: all 0.5s ease;
}

.show__more:hover {
  color: var(--secondary-green-color);
  font-weight: 500;
}

/* categories section end */

/* new product section start */

.new-product {
  padding: 50px 0;
}

.new-product h1 {
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 120%;
  font-weight: 600;
}

.new-product__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 21px;
  margin-bottom: 41.4px;
  flex-wrap: wrap;
}

.new-product__card {
  border: 1px solid #ccc;
  transition: box-shadow 0.2s linear;
  cursor: pointer;
  background-color: #fff;
}

.new-product__card img {
  width: 304px;
  height: 234px;
  object-fit: cover;
}

.new-product__card:hover {
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.15);
}

.new-product__card--info {
  padding: 12px;
}

.new-product__card--info p {
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  color: #4d4d4d;
}

.new-product__card--info p span {
  color: #ff8a00;
}

.new-product__card--info p b {
  font-weight: 500;
}

/* new product section end */

/* map-info section start */
.map-info {
  padding: 50px 0;
  background: linear-gradient(to right,
      #dcf9eb 50%,
      var(--main-green-color) 50%);
}

.map-info__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.map,
.info {
  width: 50%;
}

.map h1 {
  font-size: 32px;
  line-height: 120%;
  font-weight: 600;
  margin-bottom: 40px;
}

.map .selects {
  display: flex;
  gap: 20px;
}

.selects select {
  background-color: transparent;
  padding: 12px 32px 12px 22px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 1px solid rgb(68, 99, 84);
  cursor: pointer;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("./assets/images/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;

}

.info {
  padding-left: 30px;
  box-sizing: border-box;
}

.info h1 {
  color: #fff;
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
  margin-left: 61px;
  margin-bottom: 68px;
}

.info__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.info__item {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 25px;
}

.datas {
  display: flex;
  flex-direction: column;
  gap: 13px;
  flex-grow: 1;
  cursor: pointer;
}

.datas p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.datas h4 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}

.rate {
  position: relative;
  height: 10px;
  background-color: rgb(245, 246, 250);
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  transition: .5s;
  border: none;
  outline: none;
}

.datas:hover .rate {
  transform: scale(1.1);
}

.specific {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 5px;
  background-color: var(--secondary-green-color);
  animation: animate 4s ease-in-out forwards;
  overflow: hidden;
  transition: .5s linear;
}

.rate:hover .specific {
  background-color: #438b68ce;
}

@keyframes animate {
  from {
    width: 0;
  }
}

/* .specific:hover {
  transform: scale(1.2);
} */

.cereals {
  width: 80%;
}

.fruits {
  width: 60%;
}

.bean {
  width: 50%;
}

.veg {
  width: 42%;
}

.melons {
  width: 37%;
}

/* map-info section end */

/* news section start */
.news {
  padding: 50px 0px;
  background-color: var(--main-bg-color);
}

.news__head {
  display: flex;
  margin-bottom: 32px;
  justify-content: space-between;
  align-items: center;
}

.news__head h1 {
  font-size: 32px;
  line-height: 120%;
  font-weight: 600;
}

.all__news {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  color: var(--main-green-color);
}

.all__news:hover {
  color: var(--secondary-green-color);
}

.news__wrapper {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.news__card {
  background-color: #fff;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  border-radius: 8px 8px 0 0;
  transition: all 0.5s ease;
}

.news__card:hover {
  box-shadow: 0px 15px 10px 0px rgba(0, 0, 0, 0.15);
}

.news__card--date {
  position: absolute;
  z-index: 100;
  top: 242px;
  left: 24px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.85);
  padding: 6px 16px 10px;
  text-align: center;
}

.news__card--date p {
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
}

.news__card--date small {
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  font-weight: 500;
  color: rgb(128, 128, 128);
}

.news__card--info {
  padding: 24px;
}

.news__card--info p {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: rgb(26, 26, 26);
  margin-bottom: 20px;
}

.news__card--btn {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--main-green-color);
}

.news__card--btn:hover {
  color: var(--secondary-green-color);
}

/* news section end */

/* footer section start */
footer {
  background-color: #1a1a1a;
  padding: 60px 0 24px;
}

.footer__wrapper {
  display: flex;
  gap: 145px;
  margin-bottom: 60px;
  align-items: baseline;
  flex-wrap: wrap;
}

.footer__logo {
  margin-bottom: 16px;
}

.footer__text p {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  line-height: 200%;
}

.footer__text p a {
  color: #808080;
}

.footer__menu li {
  margin-bottom: 10px;
}

.footer__menu a {
  font-size: 14px;
  font-weight: 400;
  line-height: 200%;
  text-transform: uppercase;
  color: #999;
}

.footer__menu a:hover,
.third__menu a:hover {
  color: #fff;
}

.third__menu {
  margin-bottom: 36px;
}

.third__menu a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 200%;
  color: #808080;
}

.third__menu li {
  margin-bottom: 10px;
}

.footer__social ul {
  display: flex;
  gap: 6.49px;
}

.footer__social a img {
  transition: all 0.5s ease-in-out;
}

.footer__social a:hover img {
  transform: scale(1.2);
}

footer hr {
  border-color: #333;
  margin-bottom: 24px;
}

.footer__copyright p {
  color: #808080;
}

/* footer section end */

/* Products page - Collapse section start */
.collapsible {
  width: 100%;
  margin-top: 50px;
}

.collapsible input[type="checkbox"] {
  display: none;
}

.collapsible .collapsible-head {
  position: relative;
  background-color: #fff;
  color: var(--main-green-color);
  cursor: pointer;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}

.filter-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  padding: 24px 0 24px 42px;
}

.collapsible-head p {
  height: 100%;
  border: none;
  display: flex;
  align-items: center;
  background-color: var(--main-green-color);
  padding: 24px 34px 24px 43px;
  border-radius: 0 10px 10px 0;
  column-gap: 18px;
  cursor: pointer;
}

.collapsible-head p span {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.collapsible-text {
  max-height: 1px;
  overflow: hidden;
  border-radius: 10px;
  line-height: 1.4;
  position: relative;
  top: -100%;
  opacity: 0;
  transition: all 0.3s ease;
}

.collapsible input[type="checkbox"]:checked~.collapsible-text {
  max-height: fit-content;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  opacity: 1;
  top: 0;
  padding: 36px 50px;
}

.collapsible-text form {
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
  flex-wrap: wrap;
  gap: 50px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input,
.form-group select {
  padding: 14px 20px;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 6px;
  outline: none;
  color: rgb(202, 202, 202);
  width: 300px;
}

.form-group select {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  background: url("./assets/images/select-down.svg") no-repeat 0 0;
  background-position: calc(100% - 0.75rem) center !important;
}

.form-group select option {
  color: black;
  padding: 5px 0;
}

.form-group input::placeholder {
  color: rgb(202, 202, 202);
}

.form-group label {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 10px;
}

.form-group label span {
  color: red;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
/* input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
} */

.filter__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.filter__buttons button {
  width: auto;
  background-color: var(--main-green-color);
  color: #fff;
  border: none;
  padding: 15px 38px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

.filter__buttons button.clear {
  background-color: transparent;
  color: var(--main-green-color);
  border: 1px solid var(--main-green-color);
}

/* Products Banner section style */
.products-banner {
  background: url('./assets/images/banner.png') no-repeat center top;
  height: 127px;
}

.products-banner__wrapper {
  padding: 47px 0 38px 0;
}

.products-banner__title {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  line-height: 120%;
}

/* Products page - Collapse section end */

/* LOT page - Lot section start */
.lot {
  padding: 47px 0 50px;
}

.lot__title {
  font-size: 35px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 42px;
}

.lot__wrapper {
  background-color: #fff;
  padding: 45px 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.lot__main-img {
  box-sizing: border-box;
  border: 0.5px solid rgb(202, 202, 202);
  border-radius: 10px;
  width: 572px;
  height: 490px;
  object-fit: cover;
  margin-bottom: 20px;
  cursor: pointer;
}

.lot__mini-images {
  display: flex;
  gap: 20px;

}

.lot__mini-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-sizing: border-box;
  border: 0.5px solid rgb(202, 202, 202);
  border-radius: 10px;
  cursor: pointer;
}

.lot__infos h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  margin-bottom: 18px;
}

.lot__infos p {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 15px;
}

.lot__infos p b {
  font-weight: 600;
}

.lot__infos p span {
  color: #2baf1f;
  font-weight: 600;
}

.start-end__date {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.start-end__date button {
  border: none;
  padding: 11px 0;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.start-end__date button b {
  font-weight: 600;
}

.start__date {
  background-color: #D8E9F9;
}

.end__date {
  background-color: #F9D8D8;
}

.lot__new-product {
  background-color: #fff;
}

/* LOT page - Lot section end */

/* MEDIA QUERIES START */

/*  media query 1200px - 1400px */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {

  /* common styles */
  .container {
    max-width: 1140px;
  }

  /* categories section styles */
  .categories__wrapper {
    justify-content: center;
  }

  /* new product section styles */
  .new-product__wrapper {
    justify-content: center;
  }

  /* news section styles */
  .news__wrapper {
    justify-content: center;
  }
}

/*  media query 992px - 1200px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

  /* common styles */
  .container {
    max-width: 940px;
  }

  /* header section style */
  .search-lang-login {
    width: 80%;
  }

  /* nav section styles */
  .nav__close,
  .nav__toggle {
    display: block;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #0f0f0f33;
    backdrop-filter: blur(16px);

    width: 30%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: left 0.8s;
    flex-direction: column;
    z-index: 102;
  }

  /* categories section styles */
  .categories__wrapper {
    justify-content: center;
  }

  /* new product section styles */
  .new-product__wrapper {
    justify-content: center;
  }

  /* news section styles */
  .news__wrapper {
    justify-content: center;
  }

  /* LOT page section lot styles */
  .lot__wrapper {
    justify-content: center;
  }
}

/*  media query 768px - 992px */
@media only screen and (min-width: 768px) and (max-width: 991.9px) {

  /* common styles */
  .container {
    max-width: 720px;
  }

  /* header section style */
  .header-wrapper {
    gap: 15px;
    justify-content: center;
  }

  .search-lang-login {
    width: 100%;
    flex-wrap: wrap;
  }

  /* nav section styles */
  .nav__close,
  .nav__toggle {
    display: block;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #0f0f0f33;
    backdrop-filter: blur(16px);

    width: 30%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: left 0.8s;
    flex-direction: column;
    z-index: 102;
  }

  /* categories section styles */
  .categories__wrapper {
    justify-content: center;
  }

  /* new product section styles */
  .new-product__wrapper {
    justify-content: center;
  }

  /* map section styles */
  .map-info {
    padding: 50px 0;
    background: linear-gradient(to bottom,
        #dcf9eb 21%,
        var(--main-green-color) 21%);
  }

  .map-info__wrapper {
    align-items: center;
    flex-direction: column;
  }

  .map,
  .info {
    width: 100%;
  }

  .info {
    padding-top: 20px;
    padding-left: 0;
  }

  /* news section styles */
  .news__wrapper {
    justify-content: center;
  }

  /* footer section styles */
  .footer__wrapper {
    gap: 30px;
  }

  footer ul {
    padding: 0;
  }

  /* products page- filter section styles */

  .filter-text {
    padding: 24px 0 24px 24px;
    font-size: 16px;
  }

  .collapsible-head p {
    padding: 24px 34px;
  }

  .collapsible input[type="checkbox"]:checked~.collapsible-text {
    padding: 22px;
  }

  /* LOT page section lot styles */
  .lot__wrapper {
    justify-content: center;
  }
}

/*  media query 576px - 768px */
@media only screen and (min-width: 576px) and (max-width: 767.9px) {

  /* common styles */
  .container {
    max-width: 520px;
  }

  /* header section style */
  .header-wrapper {
    gap: 15px;
    justify-content: center;
  }

  .search-lang-login {
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
  }

  .search {
    width: 100%;
  }

  /* nav section styles */
  .nav__close,
  .nav__toggle {
    display: block;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #0f0f0f33;
    backdrop-filter: blur(16px);

    width: 50%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: left 0.8s;
    flex-direction: column;
    z-index: 102;
  }

  /* categories section styles */
  .categories__wrapper {
    justify-content: center;
  }

  /* new product section styles */
  .new-product__wrapper {
    justify-content: center;
  }

  /* map section styles */
  .map-info {
    padding: 50px 0;
    background: linear-gradient(to bottom,
        #dcf9eb 21%,
        var(--main-green-color) 21%);
  }

  .map-info__wrapper {
    align-items: center;
    flex-direction: column;
  }

  .map,
  .info {
    width: 100%;
  }

  .info {
    padding-top: 20px;
    padding-left: 0;
  }

  /* news section styles */
  .news__wrapper {
    justify-content: center;
  }

  /* footer section styles */
  .footer__wrapper {
    gap: 30px;
  }

  footer ul {
    padding: 0;
  }

  /* products page- filter section styles */
  .collapsible .collapsible-head {
    align-items: normal;
  }

  .filter-text {
    padding: 14px 0 14px 24px;
    font-size: 16px;
  }

  .collapsible-head p {
    padding: 14px 24px;
    width: 66%;
    height: auto;
  }

  .collapsible-head p span {
    font-size: 16px;
  }

  .collapsible input[type="checkbox"]:checked~.collapsible-text {
    padding: 22px;
  }

  .collapsible-text form {
    gap: 30px;
    justify-content: center;
    width: 100%;
  }

  .form-group,
  .filter__buttons {
    width: 100%;
  }

  .form-group input,
  .form-group select {
    width: 100%;
  }

  .filter__buttons button {
    flex-grow: 1;
    justify-content: center;
  }


  /* LOT page section lot styles */
  .lot__wrapper {
    justify-content: center;
  }

  .lot__wrapper {
    padding: 30px;
  }

  .lot__main-img {
    width: 100%;
  }

  .lot__mini-images {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/*  media query max-width 576px  */
@media only screen and (max-width: 576px) {

  /* common styles */
  .container {
    max-width: 100%;
    padding: 0 20px;
  }

  /* header section style */
  .header-wrapper {
    gap: 15px;
    justify-content: center;
  }

  .search-lang-login {
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
  }

  .search {
    width: 100%;
  }

  /* nav section styles */
  .nav__close,
  .nav__toggle {
    display: block;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #0f0f0f33;
    backdrop-filter: blur(16px);
   align-items: center;
    width: 100%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: left 0.8s;
    flex-direction: column;
    z-index: 102;
  }

  /* hero section styles */
  .carousel h1 {
    font-size: 30px;
  }

  /* categories section styles */
  .categories__wrapper {
    justify-content: center;
  }

  .categories__box {
    width: auto;
  }

  .categories__list {
    justify-content: center;
  }

  /* new product section styles */
  .new-product__wrapper {
    justify-content: center;
  }

  /* map section styles */
  .map-info {
    padding: 50px 0;
    background: linear-gradient(to bottom,
        #dcf9eb 20%,
        var(--main-green-color) 20%);
  }

  .map-info__wrapper {
    align-items: center;
    flex-direction: column;
  }

  .map,
  .info {
    width: 100%;
  }

  .map h1 {
    font-size: 24px;
  }

  .info {
    padding-top: 20px;
    padding-left: 0;
  }

  .info__item {
    width: 100%;
  }

  .rate {
    width: 100%;
  }

  /* news section styles */
  .news__wrapper {
    justify-content: center;
  }

  .news__card--img img {
    width: 100%;
  }

  .news__card--date {
    top: 30%;
  }

  /* footer section styles */
  .footer__wrapper {
    gap: 30px;
  }

  footer ul {
    padding: 0;
  }

  /* products page- filter section styles */
  .collapsible .collapsible-head {
    align-items: normal;
    flex-wrap: wrap;
  }

  .filter-text {
    padding: 14px;
    font-size: 16px;
    text-align: center;
    width: 100%;
  }

  .collapsible-head p {
    padding: 14px;
    width: 100%;
    height: auto;
    border-radius: 0 0 10px 10px;
    justify-content: center;
  }

  .collapsible-head p span {
    font-size: 16px;
  }

  .collapsible input[type="checkbox"]:checked~.collapsible-text {
    padding: 22px;
  }

  .collapsible-text form {
    gap: 30px;
    justify-content: center;
    width: 100%;
  }

  .form-group,
  .filter__buttons {
    width: 100%;
  }

  .form-group input,
  .form-group select {
    width: 100%;
  }

  .filter__buttons {
    flex-wrap: wrap;
  }

  .filter__buttons button {
    flex-grow: 1;
    justify-content: center;
  }


  /* LOT page section lot styles */
  .lot__wrapper {
    justify-content: center;
  }

  .lot__title {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .lot__wrapper {
    padding: 30px;
  }

  .lot__main-img {
    width: 100%;
    height: auto;
  }

  .lot__mini-images {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .lot__infos h1 {
    font-size: 25px;
  }
}

/*  media query max-width 576px  */
@media only screen and (max-width: 376px) {
  /* nav section styles */

  /* map section styles */
  .map-info {
    padding: 50px 0;
    background: linear-gradient(to bottom,
        #dcf9eb 26%,
        var(--main-green-color) 26%);
  }

  .map .selects {
    flex-direction: column;
    align-items: center;
  }

  .selects select {
    width: fit-content;
  }


  .info h1 {
    margin-left: 0;
  }

  /* LOT page section lot styles */
  .lot__mini-img {
    width: 50%;
    height: auto;
  }

}

/* MEDIA QUERIES END */

/* show menu */
.show-menu {
  left: 0;
}